<section class='all-tweets'>
  <header>
    <h1>Welcome to Twitter</h1>
    <h3>Latest <%= tweets.count %> Tweets</h3>
  </header>

  <% tweets.each do |tweet| %>
    <p> <%= link_to tweet.body, tweet_path(tweet) %> </p>
  <% end %>
<article class='one-tweet-info'
  <p class='header'>
    <div = 'one-users-tweet'>
    </div>
  </p>
  </article>
    <article class='tweet'>
      <p class='body'>
        <div = 'one-tweet'>
        </div>
      </p>
    </article>
</section>
