<section class='all-users'>
  <header>
    <h3>All <%= users.count %> Users</h3>
    <button type="button" class="btn btn-default"><%= link_to "New User", new_user_path(users) %></button>
  </header>
  <p>
  <% users.each do |user| %>
    <p> <%= link_to user.name, user_path(user) %> </p>
  <% end %>
<article class='one-user-info'
  <p class='header'>
  </p>
  </article>
      </p>
    </article>
</section>
