<section class='one-user'>
  <header>
    <h3><%= user.name %>'s Profile</h3>
    <button type="button" class="btn btn-default"><%= link_to "Edit Profile", edit_user_path(user) %></button>
  </header>
  <p>
    <%= "No Tweets" if user.tweets.empty? %>
    <% user.tweets.each do |t| %>
      <p><%= link_to t.body, tweet_path(t) %></p>
    <% end %>
  </p>
</section>
